@model IEnumerable<Restaurantopia.Entities.Models.OrderDetails>

@{
    ViewData["Title"] = "My Orders";
}

<h1>My Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Item.ItemTitle</td>
                <td>@order.Quantity</td>
                <td>@order.Total</td>
                <td>@order.Date</td>
            </tr>
        }
    </tbody>
</table>
